@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <p>
        Авторские права разделены с ITStep - Computer Academy
    </p>

</div>
